HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
application.properties
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.DS_Store
/src/main/generated/com/prograngers/backend/entity/badge/QBadge.java
/src/main/generated/com/prograngers/backend/entity/comment/QComment.java
/src/main/generated/com/prograngers/backend/entity/QFollow.java
/src/main/generated/com/prograngers/backend/entity/QLikes.java
/src/main/generated/com/prograngers/backend/entity/member/QMember.java
/src/main/generated/com/prograngers/backend/entity/QNotification.java
/src/main/generated/com/prograngers/backend/entity/problem/QProblem.java
/src/main/generated/com/prograngers/backend/entity/review/QReview.java
/src/main/generated/com/prograngers/backend/entity/solution/QSolution.java
